extends layout
block content
  div#header
    h3
      center KiboPush Sample Client Application
    a(href="#",class="btn btn-default",id="opener")
      i(class="fa fa-bars")

  div(id = "slide-panel")
    div#nav
      ul
       li
          a(href='/')
            i(class="fa fa-user" , aria-hidden="true")
              span(class="title")
                | Set Credentials
        li
          a(href='/userInformation/')
            i(class="fa fa-user" , aria-hidden="true")
              span(class="title")
                | User Information
        li
          a(href='/information/')
            i(class="fa fa-user" , aria-hidden="true")
              span(class="title")
                | Sessions
        li
          a(href='/userprofile/')
            i(class="fa fa-user" , aria-hidden="true")
              span(class="title")
                | Dashboard Information
         li
          a(href='/contactlist/')
                i(class="fa fa-phone" , aria-hidden="true")
                  span(class="title")
                    | Pages
         li
          a(href='/userchat/')
                i(class="fa fa-comment" , aria-hidden="true")
                  span(class="title")
                    | Subscribers
         li
              a(href='/meetingrecord/')
                i(class="fa fa-group" , aria-hidden="true")
                  span(class="title")
                    | Surveys
         li
              a(href='/webhook/')
                i(class="fa fa-link" , aria-hidden="true")
                  span(class="title")
                    | Polls
         li
              a(href='/schedule_meeting/')
                i(class="fa fa-clock-o" , aria-hidden="true")
                  span(class="title")
                    | Broadcasts
          li
             a(href='/schedule_meeting/')
               i(class="fa fa-clock-o" , aria-hidden="true")
                 span(class="title")
                   | AutoPosting
           li
              a(href='/schedule_meeting/')
                i(class="fa fa-clock-o" , aria-hidden="true")
                  span(class="title")
                    | Live Chat

  block div#content
  div#footer
    span(class = 'cc')
      center
        | 2017 © KiboPush Sample Client Application
